.App {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 1;
}
